.keyColor {
    fill: #ffa657;
}

.valueColor {
    fill: #a5d6ff;
}

.addColor {
    fill: #3fb950;
}

.delColor {
    fill: #f85149;
}

.commentColor {
    fill: #8b949e;
}

.main-box {
    fill: #161b22;
}

.sub-box {
    fill: #c9d1d9;
}

text, tspan {
    white-space: pre;
}