.keyColor {
    fill: #ffa657;
}

.valueColor {
    fill: #9F2B68;
}

.addColor {
    fill: #3fb950;
}

.delColor {
    fill: #f85149;
}

.commentColor {
    fill: #8b949e;
}

.main-box {
    fill: #f6f8fa;
}

.sub-box {
    fill: #24292f;
}

text, tspan {
    white-space: pre;
}